@import url("https://fonts.googleapis.com/css?family=Merienda");

* {
  box-sizing: border-box;
}
body {
  font-family: "Merienda", cursive;
  margin: 0;
  padding: 0;
  background-color: #305566;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  text-align: center;
  padding: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  align-content: center;
  justify-content: center;
}
figure {
  margin: 25px auto;
  justify-self: center;
  text-align: center;
  border-radius: 50%;
  padding: 3rem 1.5rem;
  background-color: #fda744;
  border: 10px solid #fff;
}
img {
  width: 200px;
}

@media (max-width: 600px){
  .container{
    width: 100%;
  }
  h1{
   font-size: 1.3em;
  }
  figure {
    padding: 1.6rem 0.9rem;
    background-color: #fda744;
    border: 6px solid #fff;
  }
  img {
    width: 100px;
  }
} 